@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type=file]::file-selector-button:hover {
  background: unset;
  @apply bg-gray-600;
}
input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
   
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    font-size: unset;
    line-height: inherit;
    padding: 0;
    @apply text-white bg-gray-700 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
}

